/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:ital,wght@0,400;0,500;1,200&family=Roboto+Mono:ital,wght@1,500&display=swap');

/* common styles */
body {
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    padding-top: 30px;


}


/* Top section */
.banner-conatiner {
    display: flex;
    background-color: black;
    position: absolute;
    width: 1000px;
    height: 450px;
    border: 1px solid;
    border-radius: 20px;

}

.content {
    display: inline;
    border: 20px;
    padding: 20px;
    margin: 20px;
}

.head {
    color: #FFFFFF;
    font-weight: ;
    font-size: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}

.paragraph {
    color: #FFFFFF;
    font-size: 16px;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
}


.watch {
    justify-content: flex-end;
}

.player {
    height: 10px;
    width: auto;
    padding-top: 40px;
}